#card_one,
#card_two {
  margin: 100px auto 0;
  width: 40%;
}

.main {
  display: flex;
}
.footer {
  text-align: center;
  font-weight: bolder;
  background-color: darkgray;

}

label {
  display: block;
  margin: 0.5rem 0;
}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  border: solid;
  background-color: #1b1b32;
  color: #f5f6f7;
}

.form-elements input {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}
#heading {
  margin: 1em auto;
  text-align: center;
}
.lists{
  display: flex;
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0em;
  
}
#female-list{
  margin-left: 4em;
}
#male-list{
  margin-right: 0.5em;
}